* {
    box-sizing: border-box;
}

/* Basic */

body {
    margin: 0;
}

li {
    line-height: 0;
    list-style-type: none;
}

.travel-container {
    border: 1px solid black;
    width: 700px;
    height: 600px;
    margin: auto;
}

.location-table {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.travel-container .location-map {
    width: 300px;
    height: 300px;
}

/* Helpers */

.flex {
    display: flex;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.space-evenly {
    justify-content: space-evenly;
}