* {
    box-sizing: border-box;
}

/* Basic */

body {
    margin: 0;
}

li {
    line-height: 0;
    list-style-type: none;
}

.travel-container {
    border: 1px solid black;
    width: 700px;
    margin: 100px auto;
    padding: 30px;
    background-color: lightblue;
}

.location-table {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.travel-container .location-map {
    width: 300px;
    height: 300px;
}
.travel-container .weather-container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.travel-container .weather-container >*{
   /* margin-top: 0; */
   text-align: center;
}
.travel-container .weather-container p{
   font-family: monospace;
   font-size: 1.2rem;
}
.location-btn-container{
    margin-inline-start: 20px;  
}
.modal.location{
margin-inline-start: 10px;
}
    
button{
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
/* Helpers */

.flex {
    display: flex;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.space-evenly {
    justify-content: space-evenly;
}